.header{
    height:55px;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:100;
    background-color: white;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:rgb(214, 213, 213);

}
.left-section{
    display:flex;
    align-items:center
    
}
.middle-section{
 
    flex: 1;
    margin-left:70px;
    margin-right:35px;
    max-width: 500px;
    display:flex;
    align-items: center;
    

}
.right-section{
    flex:1;
    align-items: center;
}
.search-bar{
    flex:1;
    height:36px;
    font-size:16px;
    border-width: 1px;
    border-style: solid;
    border-color:rgb(197, 197, 197);
    border-radius:2px;
    box-shadow: inset 1px 2px 2px rgba(0,0,0,0.05);
    width:0;

}
.search-icon{
    height:27px;
    margin-top:4px;

}
.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size:16px;
    padding-left:10px;
}
.right-section{
    flex:1;
    display:flex;
    align-items: center;
    justify-content: space-between;
    max-width:200px;
    margin-right:20px;
    flex-shrink:0;
    
}
.hamburger-menu{
    height:25px;
    margin-left:24px;
    margin-right: 20px;
}
.youtube-logo{
    height: 20px;
}
.search-button{
    height:40px;
    width:66px;
    background-color: rgb(240,240,240);
    border-width:1px;
    border-style: solid;
    border-color: rgb(197, 197, 197);
    margin-left:-1px;
    margin-right:10px;
    cursor: pointer;
}
.search-button, 
.voice-search-button,
.upload-icon-container,
.apps-icon-container,
.notifications-icon-container{
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
}
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.apps-icon-container .tooltip,
.notifications-icon-container .tooltip{
    font-family: Roboto, Arial;
    position: absolute;
    background-color: gray;
    color:white;
    padding-top:4px;
    padding-bottom: 4px;
    padding-left:8px; 
    padding-right:8px;
    border-radius:3px;
    font-size:12px;
    bottom:-30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;

}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip
{
    opacity:1;
    
}

.voice-search-button{
    height: 40px;
    width:40px;
    border-radius:20px;
    border:none;
    background-color: rgb(247, 238, 238);
}
.voice-search-icon{
    height:24px;
    
    
}
.upload-icon{
    height:30px;
    
}
.apps-icon{
    height:30px;
}
.notifications-icon{
    height: 30px;
}
.notifications-icon-container{
    position:relative;
}
.notifications-count{
    position: absolute;
    top:-2px;
    right:-2px;
    font-size: 11px;
    font-family: Roboto,Arial;
    background-color: rgb(182, 6, 6);
    color:white;
    padding-left:5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom:2px;
    border-radius:10px;
}
.user-pic{
    height:35px;
    border-radius:20px;
}

